<div class="fixed inset-0 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-96">
        <h2 class="text-xl font-bold mb-4">
            {{ ticket?.ticket_ID ? 'Update Ticket' : 'Add Ticket' }}
        </h2>
        <form [formGroup]="ticketForm" (ngSubmit)="onSave()">
            <div class="mb-4">
                <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                <textarea id="description" formControlName="description" rows="3"
                    class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:outline-none focus:ring focus:ring-blue-500"></textarea>
                <div *ngIf="ticketForm.get('description')?.invalid && ticketForm.get('description')?.touched"
                    class="text-red-500 text-sm font-semibold italic">
                    Description is required.
                </div>
            </div>
            <div class="mb-4">
                <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
                <select id="status" formControlName="status"
                    class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:outline-none focus:ring focus:ring-blue-500">
                    <option value="" disabled>Select status</option>
                    <option value="Open">Open</option>
                    <option value="Closed">Closed</option>
                </select>
                <div *ngIf="ticketForm.get('status')?.invalid && ticketForm.get('status')?.touched"
                    class="text-red-500 text-sm  font-semibold italic">
                    Status is required.
                </div>
            </div>
            <div class="flex justify-end">
                <button type="button" (click)="onCancel()"
                    class="mr-2 px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400">Cancel</button>
                <button type="submit" class="px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700">
                    {{ ticket?.ticket_ID ? 'Update' : 'Add' }}
                </button>
            </div>
        </form>
    </div>
</div>